.QuizTextInputBox {
  display: flex;
  width: 100%;
  /* width: 25rem; */
  justify-content: center;
  margin-bottom: 1rem;
}

.QuizTextInputBox .QuizTextInputBox_Container {
  width: 80%;
  height: 100%;
}

.QuizTextInputBox Input {
  padding-left: 0.5rem;
  color: white;
  height: 2.6rem;
  width: 100%;
  line-height: 1rem;
  background-color: #262626;
  border-radius: 13px;
  border-style: solid;
  border-color: #373737;
  border-width: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}
