.QuizButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.QuizButton .QuizButton_Container {
  width: 100%;
  height: 100%;
}

.QuizButton .text_container {
  background-color: #cb248b;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: #cb248b;
  /* border-width: 3px; */
  border-width: 0.2px 4.5px 0.2px 4.5px;
}
.QuizButton h4 {
  text-align: center;
  color: black;
  line-height: 0.5rem;
}
