.QuizPage {
  height: 100vh;
  background-color: #ecadcb;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.QuizPage .QuizPage_Container {
  width: 50%;
}
