.ReadRecipe {
  background-color: #ecadcb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ReadRecipe .ReadRecipe_Container {
  background-color: #faebf2;
  width: 50rem;
  height: 40rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ReadRecipe .recipe_card_container {
  margin-left: 4rem;
  margin-top: 3rem;
}

@media screen and (max-width: 900px) {
  .ReadRecipe .ReadRecipe_Container {
    width: 30rem;
    height: 40rem;
  }
}
