.PrimaryButton {
  background-color: #d0337e;
  border-radius: 10px;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PrimaryButton .PrimaryButton_Container {
  display: flex;
  align-items: center;
  justify-content: center;
}
